.landingpage {
  background-color: #caedee;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  font-family: Arial, sans-serif;
}

.heading {
  font-size: 4rem;
  text-align: left;
  font-weight: bold;
  margin-bottom: 20px;
}

.subheading {
  font-size: 1.5rem;
  max-width: 800px;
  line-height: 1.6;
  font-weight: normal;
}
